    @media screen and (min-width: 900px) { 
#indicateur{float: left;}
#test{display: inline-block;margin-left: 150px;}  
#boutons{border: none;position: absolute;top: 600px; left: -700px;width: 100px;height: 50px;font-size: 15px;margin: 15px;margin-left: 50%}
.projet{border: ridge;width: 40%; text-align: left;padding: 2%;}
}

@media screen and (max-width: 900px) { 
}
   