#ul_tab{
    border-bottom: ridge;
}

#chargement{
    margin-left: 40%;
    margin-top:10px;
    margin-bottom: 30px;
    height: 50px;
    width: 150px;
    text-align: center;
    padding: 5px;
}

